/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
background-color: #fff;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}
.overlay{
    opacity:0.8;
    background-color:#1d1d1d;
    display: none;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.cards {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 100%;
  padding: 10px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 30px;
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.chromossome{
  display: inline-block;
/*  padding-left: 1.5rem;
  padding-top: 0.5rem;*/
  /*background-color: #000;*/
  width: 67px;
  height: 36px;
}

#individualB > .active, #individualA > .active{
  /*background-color: #fff;*/
}

.individualLabel{
  display:inline-block; vertical-align: middle;
  height: auto;
  margin-top: 9px;
  /*width: 120px;*/
}

.chromossome > .custom-radio{
  margin: 0px;
  width: 100%;
  height: 100%;
  padding-top: 6px;
}

.chromossome .custom-control-indicator{
  margin-left: 14px;
  margin-top: 10px;
}




/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
#initial_population input {
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.chromosome{
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 5px;
}


/*.chromosome.active{
  box-shadow: 1px 2px 11px 6px #007bff61;
}
.individual.active{
  box-shadow: 1px 2px 11px 6px #007bff61;
}*/

.individual-content{
  padding-left: 20px;
  /*border: 1px solid gray;*/
  background-color: #eee;
  padding: 15px;
  margin-bottom: 5px;
}

.chromosome-content{
  padding-left: 50px;
}

.solution_step{
  height: 300px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#mytable td{
  border: 1px solid black;
  width: 35px;
  height: 30px;
  padding: 1px;
  text-align: center;
  margin: 5px;
}

#mytable tr{
  /*outline: thin solid;*/
}

#mytable{
  border-collapse: separate;
  border-spacing: 0px 10px;
  margin: auto;
}

input[type=number]{
  text-align: center;
}

.solution_step{
  height: auto;
  min-height: 300px;
}

.solution_step fieldset{
  height: 100%;
  padding: 20px;
  background-color: #d6d6d6;
}

.individual_number{
  width: 90px !important;;
  border: 0 !important;
}

.individual_rank{
  width: 40px !important;;
  border: 0 !important;
}

.individual_solution{
  width: 90px !important;;
  border: 0 !important;
}

#logo{
  background: red;
}

#logo i{
}

.hex_left{

float: left;
border-right: 13px solid #6C6;
border-top: 25px solid transparent;
border-bottom: 25px solid transparent;
}
.hex_center{
  color: #fff;
    padding-top: 5px;
    padding-left: 1px;
float: left;
width: 40px;
height: 50px;
background-color: #6C6;
}
.hex_right{
float: left;
border-left: 13px solid #6C6;
border-top: 25px solid transparent;
border-bottom: 25px solid transparent;
}

.logo{
  font-size: 40px;

}

#header{
  background-color: #393e39;
  padding: 2px;
}


.h-80{
  height: 85%;
}

a{
  color: #28a745;
}

a:hover{
  color: #56bb6d;
  text-decoration: none;
}

.full-helper{
    position: fixed;
    width: 100vw;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    background: #0000009e;
    z-index: 999;
}

.help-icon{
  cursor: pointer;
}

tr.selected{
  background-color: yellow;
}

span.individual {
  border: 1px dotted;
  padding: 5px 2px;
  background-color: white;
}

span.gene {
  border: 1px dotted;
  padding: 2px 5px;
  cursor: pointer;
  background-color: white;
}

span.individual.active {
  box-shadow: 1px 2px 11px 6px #007bff61;
}

span.individual.track {
  box-shadow: 1px 2px 11px 6px #333;
}

span.gene.active {
  box-shadow: 1px 2px 11px 6px #e6ff19;
}

span.gene.mutated {
  background-color: #ff5555;
}

.custom-control-label::before {
  background-color: #b0b0b0;
}